<div class="about">
  <h2>About</h2>
  <p>
    Flexodoro is a flexible Pomodoro time tracker that rewards you with 1 minute of rest for every 5 minutes that you focus. You can rest and focus at will, without adhering to a strict time schedule. Flexodoro keeps track of your rest reserves and your next suggested focus or rest time.
  </p>


  <h2>To Use</h2>
  <ul>
    <li>Sign up and sign in OR use as guest</li>
    <li>Click the focus button to start a session</li>
    <li>Click the rest button when you are ready to rest</li>
    <li>Click on log and a specific date to see your daily sessions and totals</li>
    <li>Sign out to end your session</li>
  </ul>

  <p>
    If you use as guest, there is no custom time zone and no personal time tracking log.
  <p>
</div>
