<h1> Focus Mode </h1>
<h2> Started at: <%= stringify(@focus_start) %> </h2>
<h2> Rest at: <%= stringify(@suggested_rest) %> </h2>

<form action="/rest" method="post">
  <input type="submit" value="Rest" />
</form>
