<!doctype html>
<html>
  <head>
    <title>Flexodoro</title>
  </head>

  <header>
    <%= session.delete(:message) %>
    <a href = "/tracker">flexodoro</a>
    |
    <a href = "/log"><%= session[:username] != 'guest' ? session[:username] : "guest" %></a>
    |
    <a href = "/about">about</a>
    |
    <% if session[:username] != 'guest' %>
      <a href = "/sign_out">sign out</a>
    <% else %>
    <a href = "/sign_in">sign in</a>
    <% end %>
    <p></p>
  </header>

  <body>
    <%= yield %>
  </body>

  <p></p>
  <!-- <form action="/reset" method="post">
    <input type="submit" value="Reset" />
  </form> -->


</html>
