<!doctype html>
<html>
  <head>
    <title>Flexodoro</title>
  </head>

  <body>
    <%= yield %>
  </body>


<a href = "/log">log</a>

  <form action="/reset" method="post">
    <input type="submit" value="Reset" />
  </form>
</html>
