<% if @dates_and_durations.empty? %>
  <p> You do not have any focus cycle data yet. </p>
<% else %>
  <% @dates_and_durations.each do |date, duration| %>
    <p>
      <a href='/log/<%= date %>'><%= date %> --- <%= formatted(duration) %></a>
    </p>
  <% end %>
<% end %>
