
<div class="log">
  <% if @dates_and_durations.empty? %>
    <h3>You do not have any focus cycle data yet.</h3>
  <% else %>
    <h2>Log</h2>
    <% @dates_and_durations.each do |instance| %>
        <a href='/log/<%= instance[:date] %>'><%= instance[:date] %></a>
    <% end %>
  <% end %>
</div>
