<form method="post" action="/sign_up">
  <div>
    <label for="username">Username:</label>
    <input name="username" placeholder="" type="text" value="<%= params[:username] %>">
  </div>
  </div>
    <label for="password">Password:</label>
    <input name="password" placeholder="" type="text" value="">
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
