<form method="post" action="/sign_up">
  <div>
    <label for="username">Username:</label>
    <input name="username" placeholder="" type="text" value="<%= params[:username] %>">
  </div>
  </div>
    <label for="password">Password:</label>
    <input name="password" placeholder="" type="password" value="<%= params[:password] %>">
  </div>
  <div>
    <label for="time_zone">Local Time:</label>
    <select name="time_zone">
        <option value=""></option>
      <% TIME_ZONES.each do |time_zone| %>
        <option value="<%= time_zone %>"><%= current_local_time(time_zone, @utc) %> </option>
      <% end %>
    </select>
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
